html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 320px;
    height: 597px;
    font-family: 'TT Lakes', sans-serif;

}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Italic.eot');
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url('TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Italic.woff') format('woff'),
        url('TTLakes-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Шапка страницы */
.header__nav {
    display: flex;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #80949F;
    height: 88px;
    width: 320px;
    position: relative;
    border: 1px solid red;
}
.header-nav__icon, .header-nav__logo, .header-nav__divider, .header-nav__shadow {
    position: absolute;
}
.header-nav__icon {
    width: 40px;
    height: 40px;
    top: 24px;
}
.header-nav__icon--menu {
    left: 16px;
}
.header-nav__icon--repair {
    left: 208px;
}
.header-nav__icon--checkstatus {
    left: 264px;
}
.header-nav__logo {
    width: 96.55px;
    height: 50.81px;
    top: 18.59px;
    left: 72.73px;
} 
.header-nav__divider {
    width: 2px;
    height: 32px;
    top: 28px;
    left: 186px;
    border-radius: 1px;
}
.header-nav__shadow {
    width: 320px;
    height: 1px;
    top: 87px;    
}


/* Основной заголовок страницы */
main {
    background-color: #F8F8F8;
    height: 509px;
    width: 320px;
    border: 1px solid black;
    position: relative;
}
.article-main__main-div {
    border: 3px solid yellow;
    top: 24px;
    width: 304px;
    height: 40px;
    position: absolute;
}
.article-main__main-heading {
    width: 288px;
    height: 40px;
    top: -20px;
    position: absolute;
    left: 16px;
    font-weight: 700;
    font-size: 28px;
    color: #1B1C21;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.article-main__decorative-image{
    width: 4px;
    height: 40px;
    left: -16px;
    top: -4px;
    position: absolute;
}


/* Меню навигации */

.article-main__nav {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    width: 304px;
    height: 40px;
    padding-bottom: 10px;
    top: 88px;
    left: 16px;
    position: relative;
    scroll-behavior: smooth;
}
.article-main__img-shadow {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 24px;
    height: 40px;
    z-index: 10;
    pointer-events: none;
}
.article-main__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;

    align-items: center;
    height: 40px;

    display: flex;
    color: #7E7E82;
    text-decoration: none;
    position: relative;

    flex: 0 0 auto;
    white-space: nowrap;
}
.article-main__nav::-webkit-scrollbar {
      height: 6px;
}

.article-main__nav::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 3px;
}
.article-main__text {
    display: inline-block;
    white-space: nowrap;
    padding-left: 20px;
    top: 8px;   
    line-height: 40px;         
    
}

.article-main__button--devices {
    width: 246px;
    height: 40px;
    top: 0px;
    left: 0px;
    position: relative;
    border: 2px solid;
    border-radius: 6px;
    border-color: #B8FFEC;
    background: white;
}
.article-main__button--addservices {
    height: 40px;
    top: 0px;
    left:0px;
    position: relative;
    background-color: #F8F8F8;
    width: 211px;
    
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}


.article-main__button--pricesforservices {
    position: relative;
    width: 211px;
    height: 40px;
    top: 0px;
    left: -10px;
}
.article-main__button--address {
    position: relative;
    width: 143px;
    height: 40px;
    top: 0px;
    left: -80px;
}
.article-main__button--specialprices {
    position: relative;
    width: 172px;
    height: 40px;
    top: 0px;
    left: 0px;
}


/* Краткая информация о компании */
section {
    width: 320px;
    height: 322px;
    top: 152px;
    position: absolute;
}
.hero-section__p {
    width: 288px;
    height: 90px;
    top: 0px;
    position: absolute;
}
pre {
    top: -10px;
    left: 16px;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-family: 'TT Lakes', sans-serif;
    letter-spacing: 0.2px;
    color: #1B1C21;
}


/* Кнопка "читать далее" */
.hero-section__read-more-button {
    all: unset;
    cursor: pointer;
}
.hero-section__read-more-button {
    width:  132px;
    height: 24px;
    top: 106px;
    left: 16px;
    position: absolute;
    
}
.hero-section__decorative-image {
    width:  24px;
    height: 24px;
    top: 0px;
    left: 0px;
    position: absolute;
}
.hero-section__read-more-text {
    width:  100px;
    height: 24px;
    top: 0px;
    left: 32px;
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}


/* Изображение логотипа */
.hero-section__img-logo {
    width:  320px;
    height: 176px;
    top: 146px;
    position: absolute;
}