html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 320px;

}


.header__nav {
    display: flex;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #80949F;
    height: 88px;
    width: 320px;
    position: relative;
    background-color: rgba(255, 0, 0, 0.1);
}
.header-nav__icon, .header-nav__logo, .header-nav__divider, .header-nav__shadow {
    position: absolute;
}
.header-nav__icon {
    width: 40px;
    height: 40px;
    top: 24px;
}
.header-nav__icon--menu {
    left: 16px;
}
.header-nav__icon--repair {
    left: 208px;
}
.header-nav__icon--checkstatus {
    left: 264px;
}
.header-nav__logo {
    width: 96.55px;
    height: 50.81px;
    top: 18.59px;
    left: 72.73px;
} 
.header-nav__divider {
    width: 2px;
    height: 32px;
    top: 28px;
    left: 186px;
    border-radius: 1px;
}


.header-nav__shadow {
    width: 320px;
    height: 1px;
    top: 87px;
    
}

main {
    background-color: #F8F8F8;
    height: 509px;
    width: 320px;
    border: 5px solid black;
}
